<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Pedido realizado</ion-title>
  </ion-toolbar>
</ion-header>

<div padding>
    <div style="width:100%;display:flex;border-bottom:1px solid #eee">
        <div style="padding:10px;width:50%;border-right:1px solid #eee">
          <div style="font-size:14px;color:#777">
            DISTANCIA TOTAL
          </div>
          <div style="color:#555;font-size:22px;font-weight:500">
            2.5 km
          </div>
        </div>
        <div style="padding:10px;width:50%">
          <div style="font-size:14px;color:#777">
            GANASTES
          </div>
          <div style="color:#555;font-size:22px;font-weight:500">
            $1500
          </div>
        </div>
      </div>
  
      <div style="padding:10px;width:100%;display:flex;border-bottom:1px solid #eee">
        <div>
          <div style="font-size:14px;color:#777">
            MÉTODO DE PAGO
          </div>
          <div style="color:#555;font-size:22px;font-weight:500">
            Tarjeta
            <div style="font-size:15px">
              <span style="color:red">No</span> pagar
            </div>
          </div>
        </div>
      </div>
  
  
  
  
      <div style="margin-top:30px;color:#666;font-weight:600;display:flex;align-items:center">
        <ion-icon name="pin" style="color:#bbb;font-size:22px;margin-right:10px"></ion-icon>
        Punto de retiro
      </div>
      <div style="margin-left:30px;margin-top:10px;color:#555">
        <div>
          Simon bolivar 802, Valdivia Chile
        </div>
        <div>
          Departamento 1, puerta 201
        </div>
      </div>
  
  
      <div style="margin-top:25px;color:#666;font-weight:600;display:flex;align-items:center">
        <ion-icon name="pin" style="color:#bbb;font-size:22px;margin-right:10px"></ion-icon>
        Punto de entrega
      </div>
      <div style="margin-left:30px;margin-top:10px;color:#555">
        <div>
          Simon bolivar 802, Valdivia Chile
        </div>
      </div>
  
  
      <div style="height:20px;width:100%"></div>
  
      <ion-card>
        <ion-card-content>
          <div style="color:#555;display:flex;align-items:center;justify-content:space-between">
            <div style="display:flex;align-items:center">
              <div style="width:55;height:55px">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ18i8yTiuPKfK9CtP4nNyzQdTNyy6UTMd9XngmLx77n2OqtJH-g"
                  style="height:55px;width:55px;border-radius:50%;object-fit:cover">
              </div>
              <div style="margin-left:10px;font-size:16px">
                Oscar Garcia
              </div>
            </div>
            <ion-icon name="ios-call" style="color:#999;font-size:28px"></ion-icon>
          </div>
        </ion-card-content>
      </ion-card>
  
</div>

<ion-content>

</ion-content>
