<div *ngIf="isAuth" style="z-index:999;position:fixed;top:0px;left:0px;width:15%;height:100%">

  <div style="background:white;height:100%;box-shadow:7px 0 60px rgba(0, 0, 0, 0.05)">


    <div style="width:100%;display:flex;justify-content:center;background:#FAFBFC">
      <div style="margin-top:20px;margin-bottom:10px;display:flex;align-items:Center">
        <div style="color:#444;font-weight:600">
          PANEL DE CONTROL
        </div>
      </div>
    </div>

    <hr style="border-top:1px solid rgba(255,255,255,.15)">

    <div style="padding:20px">


      <div (click)="openPage('mapa')" style="display:flex;align-items:center;justify-content:space-between">
        <div style="display:flex;align-items:center">
          <i class="fas fa-map icon-left" [ngClass]="{active: _control.isMapa}"></i>
          <div class="text" [ngClass]="{active: _control.isMapa}">
            Mapa
          </div>
        </div>
        <div></div>
      </div>

      <div (click)="openPage('riders')"
        style="margin-top:25px;display:flex;align-items:center;justify-content:space-between">
        <div style="display:flex;align-items:center">
          <i class="fas fa-motorcycle icon-left" [ngClass]="{active: _control.isRiders}"></i>
          <div class="text" [ngClass]="{active: _control.isRiders}">
            Riders
          </div>
        </div>
        <div></div>
      </div>

      <div (click)="openPage('empresas')"
        style="margin-top:25px;display:flex;align-items:center;justify-content:space-between">
        <div style="display:flex;align-items:center">
          <i class="fas fa-building icon-left" [ngClass]="{active: _control.isEmpresas}"></i>
          <div class="text" [ngClass]="{active: _control.isEmpresas}">
            Empresas
          </div>
        </div>
        <div></div>
      </div>

      <hr style="border-top:1px solid rgba(255,255,255,.15)">

    </div>


  </div>

</div>








<div *ngIf="isAuth" style="z-index:995;position:fixed;top:0px;left:0px;width:100%;">
  <div
    style="padding:15px;padding-left:18%;box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);width:100%;background:#FAFBFC;height:60px;display:flex;align-items:center;justify-content:space-between">

    <!-- <div *ngIf="!_control.isMapa">
    </div> -->

    <i class="fas fa-bars" style="font-size:20px;color:#555"></i>

    <div *ngIf="_control.isMapa" style="display:flex;align-items:center">
      <div
        style="background:white;border:1px solid #eee;border-radius:5px;padding:0px;padding-left:4px;display:flex;align-items:center;margin-right:10px">
        <div
          style="border-radius:4px 0px 0px 4px;width:55px;background:#eee;color:#555;padding:3px;display:flex;align-items:center;justify-content:center">
          +56 9
        </div>
        <input type="text" placeholder="Teléfono" [(ngModel)]="telefono" />
      </div>

      <button (click)="trackRider()" type="button" class="btn btn-outline-secondary">
        <i class="fas fa-location-arrow"></i>
        Seguir
      </button>
    </div>



    <!-- <div *ngIf="_control.isMapa"
      style="background:whitesmoke;padding:3px;padding-left:10px;padding-right:10px;border:1px solid #eee;border-radius:6px">
      En ruta (23)
    </div> -->

    <!-- <div *ngIf="_control.isMapa"
      style="padding:3px;padding-left:10px;padding-right:10px;border:1px solid #eee;border-radius:6px">
      En total (93)
    </div> -->

    <div *ngIf="_control.isMapa" class="btn-group btn-group-toggle" data-toggle="buttons">
      <label (click)="getRiders('riders-activos')" class="btn btn-secondary active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Activos
      </label>
      <label (click)="getRiders('riders-inactivos')" class="btn btn-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off"> Inactivos
      </label>
      <label (click)="getRiders('riders-todos')" class="btn btn-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off"> Todo
      </label>
    </div>


    <div style="border-left:1px solid #eee;padding-left:10px;display:flex;align-items:center">
      <div style="width:40px;height:40px;margin-right:10px">
        <img src="https://i.redd.it/vtpfvbqe54a21.png"
          style="width:40px;height:40px;border-radius:50%;object-fit:cover;">
      </div>
      <div style="margin-right:20px">
        Oscar Garcia
      </div>
      <div (click)="logout()"
        style="margin-right:20px;border:1px solid #eee;border-radius:6px;padding:4px;padding-left:10px;padding-right:10px">
        <i class="fas fa-sign-in-alt" style="color:#bbb;margin-right:10px"></i>
        Salir
      </div>
    </div>

  </div>

</div>




<div *ngIf="isAuth" style="margin-top:100px;margin-left:15%;width:85%">
  <div style="margin:25px;background:#F9FAFB">
    <router-outlet></router-outlet>
  </div>
</div>




<app-login *ngIf="!isAuth"></app-login>



<div *ngIf="riderNotFound" style="z-index:999;position:fixed;top:10px;right:10px">
    <div style="background:#BD362F;padding:15px;box-shadow: 0 0 15px #999;border-radius:3px;padding-right:40px;">
      <div style="display:flex;align-items:center">
        <i class="fas fa-times-circle" style="font-size:23px;color:white"></i>
        <div style="color:white;margin-left:15px;width:200px;">
          No encontrado
        </div>
      </div>
    </div>
  </div>